<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @clientepacote.client %>
</p>

<%= link_to 'Edit', edit_clientepacote_path(@clientepacote) %> |
<%= link_to 'Back', clientepacotes_path %>
