<p id="notice"><%= notice %></p>

<p>
  <strong>Psicologa:</strong>
  <%= @psicologapacote.psicologa %>
</p>

<%= link_to 'Edit', edit_psicologapacote_path(@psicologapacote) %> |
<%= link_to 'Back', psicologapacotes_path %>
