
<li class="control-group nested-fields">

  <div class="controls">
    <%= f.label "Cliente" %><br>
    <%= f.collection_select(:client_id, Client.all, :id, :cpf, {}, class: 'form-control') %>
  </div>

  <div class="controls">
    <%= link_to_remove_association "Remover", f %>
  </div>

</li>