

<li class="control-group nested-fields">

  <div class="controls">
    <%= f.label "Candidato" %><br>
    <%= f.collection_select(:psicologa_id, Psicologa.all, :id, :n_orgao, {}, class: 'form-control') %>
  </div>

  <div class="controls">
    <%= link_to_remove_association "Remover", f %>
  </div>

</li>